/*-- scss:defaults --*/

// colors
$body-bg: #ffffff !default;
$body-color: #211e1e !default;
$link-color: #810b11 !default;
$selection-bg: #ffffff !default;


// headings
$presentation-heading-color: #c02424 !default;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;


// code blocks
$code-block-border-color: #93a1a1 !default;